body {
  background-color: $base-background-color;
  color: $base-font-color;
  background-image: image-url('bg.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 350px;
  font-family: $base-font-family;
}
#logo {
  text-align: center;
  margin: 100px auto;
  margin-bottom: 70px;
}
#logo img {
  width: 134px;
  height: 269px;
  margin-bottom: 140px;
}
div#content {
  text-align: center;
}
form {
  margin: auto;
  margin-top: 50px;
  width: 500px;
  clear: both;
}
form p {
  letter-spacing: 0.1em;
}
#campaign input {
  background-color: #fff;
  color: #000;
  width: 180px;
  padding: 13px;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  margin-right: 5px;
  font-size: 0.7em;
}
#campaign .ghost {
  display: inline-block;
  width: 180px;
  padding: 14px;
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: transparent;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out,
  border-color 0.2s ease-out;
  font-size: 0.7em;
}
#campaign .ghost:hover,
#campaign .ghost:active {
  background-color: #fff; /* fallback */
  background-color: rgba(255, 255, 255, 0.2);
  border-color: #fff; /* fallback */
  border-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease-in,
  border-color 0.2s ease-in;
}
#footer {
  text-align: center;
  margin-bottom: 5em;
}
#footer ul, ul.social {
  font-size: 1.5em;
  margin-top: 50px;
}
#footer ul li, ul.social li {
  border:none;
}
ul {
  list-style: none;
}
li {
  letter-spacing: 0.1em;
  border-right: 1px solid #666;
  display: inline-block;
  text-transform: uppercase;
  margin: 0;
  margin-right: 10px;
  padding-right: 13px;
}
li.last {
  border: none;
  margin-right: 0;
}

// HTML5
.video {
  width: 100% !important;
  height: auto !important;
}
// YouTube, Vimeo
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// The browser window is split into 12 columns
// Pass the number of columns a grid item should span
@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}

.grid-items {
  $small-screen: em(320) !default;
  $medium-screen: em(640) !default;
  $large-screen: em(960) !default;
  $xlarge-screen: em(1440) !default;
  $grid-item-background: $medium-gray;
  $grid-item-columns: 12;
  $grid-item-columns-big: 6;

  @include clearfix;

  @include media($small-screen) {
    margin: 4em 5%;
  }
  @include media($medium-screen) {
    margin: 4em 10%;
  }
  @include media($large-screen) {
    margin: 4em 20%;
  }
  @include media($xlarge-screen) {
    margin: 4em 20%;
  }

  .grid-item {
    @include transition (all 0.2s ease-in-out);
    background: $grid-item-background;
    float: left;
    overflow: hidden;
    outline: none;
    padding: 0.5em;
    width: 100%;
    margin-bottom: 4em;
    border: none;

    &:focus,
    &:hover {
      background-color: lighten($grid-item-background, 50%);
    }

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }

    @include media($xlarge-screen) {
      @include grid-item-columns($grid-item-columns-big);
      border-right: 1em solid #000;
      border-left: 1em solid #000;
    }

  }

}
