%ul.social
  %li
    = link_to 'https://instagram.com' do
      %i{class: 'fa fa-instagram'}
  %li
    = link_to 'https://twitter.com/EPICPressYA' do
      %i{class: 'fa fa-twitter'}
  %li
    = link_to 'https://www.facebook.com/EPICPressYA' do
      %i{class: 'fa fa-facebook'}
