---
title: Launching Fall 2015
---

#wrap
  #logo
    = image_tag 'logo.png', alt: data.config.company_name

  #content
    %ul
      %li Young Adult
      %li Hardcover &amp; eBook
      %li.last 8 6-book Series

    = form_tag 'http://marketing.titleleaf.com/t/r/s/iitljjd/', id: 'campaign' do
      %p Launching Fall 2015
      %input#fieldEmail{ name: "cm-iitljjd-iitljjd", type: "email", placeholder: "Your Email Address" }
      %button.ghost{ type: "submit" } Notify Me

    .grid-items
      .grid-item
        .video
          %iframe{ src: '//www.youtube.com/embed/DIA1t5Knhlc', width: '640', height: '480', frameborder: '0', allowfullscreen: '' }

      .grid-item
        .video
          %iframe{ src: '//www.youtube.com/embed/b1M_zpH5qjg', width: '640', height: '480', frameborder: '0', allowfullscreen: '' }

  #footer
