---
title: Launching Fall 2015
---

#wrap
  #logo
    = image_tag 'logo.png', alt: data.config.company_name

  #content
    %ul
      %li Young Adult
      %li Hardcover &amp; eBook
      %li.last 8 6-book Series

    = form_tag 'http://visitor.r20.constantcontact.com/d.jsp', id: 'campaign' do
      %input{ type: 'hidden', name: 'llr', value: 'x9amm5cab' }
      %input{ type: 'hidden', name: 'm', value: '1102678721367' }
      %input{ type: 'hidden', name: 'p', value: 'oi' }
      %input{ type: 'hidden', name: 'sit', value: 'ekuvgjneb' }
      %input{ type: 'hidden', name: 'f', value: '9d2363e3-48d4-4651-a61e-df0d670078ca' }
      %p Launching Fall 2015
      %input#fieldEmail{ name: 'ea', type: 'email', placeholder: 'Your Email Address' }
      %button.ghost{ type: 'submit' } Notify Me

    = partial 'partials/social'

    .grid-items
      .grid-item
        .video
          %iframe{ src: '//www.youtube.com/embed/DIA1t5Knhlc?rel=0', width: '640', height: '480', frameborder: '0', allowfullscreen: '1' }

      .grid-item
        .video
          %iframe{ src: '//www.youtube.com/embed/b1M_zpH5qjg?rel=0', width: '640', height: '480', frameborder: '0', allowfullscreen: '1' }

  #footer
